body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif ;
}

/* navbar css */
nav{
    display: inline-flex;
    padding: 3px;
    /* border: 1px solid red; */
    flex-wrap: nowrap;
    width: 100%;
}

.navbar{
    /* border: solid 1px blueviolet ; */
    width: 100%;
}
.pages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
  
    
}
li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: rgb(3, 6, 43);
    padding: 10px 10px;
    transition: color 0.3s ease; /* Smooth transition */
}


a:hover {
    color: white;
    background-color: rgb(3, 6, 43);
}
#what{
    background-color: White;
    color: rgb(3, 6, 43);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;

}

#search{
    display: flex;
    border-radius: 5px;
    /* border-color: gray; */
    margin: 5px;
    background-color: lightblue;
    border: none;
    color: white;
}
#search:hover{
    background-color: rgb(3, 6, 43);
}

/* header */
header{
    width: 100%;
    background-color: lightblue ;
    display: inline-flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    min-width: 500 px;
}



/* cover image, guy on the path. img suppose to be at left with text at right when the screen is big */
#coverimg{
    /* border: 1px solid blueviolet; */
    display: inline-block;
    padding: 2%;
    object-fit: contain;
    margin: 10px;
}

.boxheading{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    display: inline-block;
}

.sections{
    color: white; 
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.cardcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px;
}

.card{
    display: block;
    width: 200px;
    align-items: center;
    margin: 20px;
    background-color: lightblue;
    padding: 10px 20px;    
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}


    .fa-solid{
        height: 35px;
        padding-top: 30px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
}

.card:hover{
    background-color: rgb(3, 6, 43);
}

#footerall {
    background-color: lightblue;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
}

#myname {
    color: white;
    font-size: 10px;
    text-align: center;

}

.content{
    margin: 5%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
}

input[type="text"], input[type="email"],
textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

input[type="submit"] {
    width: 150px;
    padding: 10px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(3, 6, 43);
}